[Unit]
Description=Smart Pole Live Stream (RTSP -> RTMP)
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
ExecStart=/home/pi/smartpole/stream-rtmp.sh
WorkingDirectory=/home/pi/smartpole
User=pi
Restart=always
RestartSec=5
StandardOutput=journal
StandardError=journal
Environment=AV_LOG_FORCE_NOCOLOR=1

[Install]
WantedBy=multi-user.target
